h1{
  text-align: center;
  color: white;
  background-color: black;
  padding: 3vh;
}

.lessonTitle {
  text-align: center;
}

.ready {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 80px;
  margin-left: calc(50vw - 50px);
  margin-right: calc(50vw - 50px);
}

.spacer {
  height: 2px;
  width: 100%;
  background-color: black;
  margin-bottom: 4vh;
}

.lessonBody {
  text-align: left;
  margin: 5vh;
}

.graphic {
  max-width: 80vw;
}

.flowingText {
  padding-left: 3vw;
}



