h1{
  text-align: center;
  color: white;
  background-color: black;
  padding: 3vh;
  margin: 0;
}

.lessonTitle {
  text-align: center;
}

.lessonHeader {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}
.dashIcon {
  font-size: 4vh;
  margin: 0.83em;
  margin-left: 1vw;
  margin-right: 1vw;
}

.ready {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 80px;
  margin-left: 110px;
}

.lessonCard {
  display: inline-block;
  border: black 2px solid;
  width: 300px;
  padding: 2vh;
  padding-bottom: 4vh;
  margin: 3vh;
}

.spacer {
  height: 2px;
  width: 100%;
  background-color: black;
  margin-bottom: 4vh;
}

.lessonBody {
  text-align: left;
  margin: 5vw;
}

.graphic {
  max-width: 80vw;
  margin-left: 5vw;
}

.flowingText {
  padding-left: 3vw;
}

.codeBlock {
  margin-left: 10vw;
}

.listHeading {
  margin-left: -2vw;
}

.bulletedList li {
  margin-left: 3vw;
}

.dashboardHolder {
  padding: 5em;
  /* column-fill: auto; */
  column-count: 3;
}

@media only screen and (max-width: 1025px) {
  .dashboardHolder {
    column-count: 2;
  }
}

@media only screen and (max-width: 800px) {
  .dashboardHolder {
    column-count: 1;
  }
}



